.navParent {
    width: 100%;
}

.Nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -140px;
    border: red solid 1px;
}

.navChildRight a{
    font-size: 35px;
    color: #05EBF3;
    text-decoration: none;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: transparent;
}

.navChildRight {
    display: flex;
    width: 20%;
    justify-content: space-around;
    margin-right: 50px;
    background: transparent;
    margin-top: -10px;

}

.navChildLeft {
    display: flex;
    justify-content: space-around;
    background: transparent;
    width: 30%;
    margin-left: 30px;

}

.navChildLeft a {
    color: black;
    -webkit-text-stroke-width: .5px; 
    -webkit-text-stroke-color: white; 
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-decoration: none;
    font-size: 25px;
    font-weight: normal;
    background: transparent;
}



